@{
    ViewData["Title"] = "Home Page";
}
@section Styles {
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/css/admin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" >    

}
<body>
    <div class="sub1">
        <div>
            <b><h2>AYUDANOS  A  AYUDAR</h2></b>
            <img src="/img/dog_albergue.png" class="perritos">
        </div>
    </div>
    <div class="subtitulo">
        <div><span class="" ><strong style="padding-left: 148px;"><b>VOZ ANIMAL</b></strong></span></div>
    </div><br><br><br>
<section class="home">
    <div class="home__container">
        <div class="grid">
            
                <div class="admin">
                    <a class="btn btn-secondary" asp-area="" asp-controller="HistoryMedic" asp-action="Index">HISTORIAL DE SALUD<br><img src="/img/health.png"></a>
                </div>
                <div class="admin">
                    <a class="btn btn-secondary" href="">VOLUNTARIOS<br><img src="/img/voluntarios.png"></a>
                </div>
            
       
                <div class="admin">
                       <a class="btn btn-secondary" asp-area="" asp-controller="Cliente" asp-action="Index">GESTIONAR USUARIOS<br><img src="/img/users.png"></a>
                </div>
                <div class=" admin">
                     <a class="btn btn-secondary" asp-area="" asp-controller="Mascota" asp-action="Index">GESTIONAR MASCOTAS <br><img src="/img/mascotas.png"></a>
                </div>

   
                    <div class="admin">
                        <a class="btn btn-secondary"  asp-area="" asp-controller="Mascota" asp-action="Index">PADRINOS <br><img src="/img/padrinaje.png"></a>
                    </div>
                    <div class="admin">
                        <a class="btn btn-secondary"  asp-area="" asp-controller="Donaciones" asp-action="Donaciones">DONACIONES <br><img src="/img/donaciones.png"></a>
                    </div>
                    <div class="admin">
                         <a class="btn btn-secondary" asp-area="" asp-controller="Adopcion" asp-action="Index">SOLICITUDES DE ADOPCIÓN <br><img src="/img/solicitudes.png"></a>
                </div>
           
        </div>
    </div>
</section>
</body>
@section Scripts {  
    <script src="~/js/swiper-bundle.min.js"></script>
    <script src="~/js/inicio.js"></script>

    
}
