@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Patitas_Felices.Data
@inject ApplicationDbContext _context 

@{
   var userName = User.Identity?.Name;
    var cliente1 = _context.CLIENTE.FirstOrDefault(c => c.User.UserName == userName);
    var apodo = cliente1 != null ? cliente1.apodo : userName;
}

<div class="nav__button">
    <div class="row">
        @if (SignInManager.IsSignedIn(User))
        { 

            <div class="dropdown col-9">
               <input type="text" class="nav-link btn btn-link text-dark" placeholder="@apodo" readonly>
                <div class="option">
                    <a  asp-controller="Profile" asp-action="Index">
                    <div onclick="show('Datos Personales')"><ion-icon name="person-outline"></ion-icon>Datos Personales</div>
                    </a>
                    <a   asp-area="Identity" asp-page="/Account/Manage/Index">
                    <div onclick="show('Seguridad')"><ion-icon name="settings-outline"></ion-icon>Seguridad</div>
                    </a>
                </div>
            </div>
            @* <div class="col-6">
                <div class="nav__button-link">
                    <a class="nav__button-link" asp-area="" asp-controller="Profile" asp-action="Index" title="Manage">Hello
                        @User.Identity?.Name!</a>
                </div>
            </div> *@

            <div class="col-3">
                <div class="nav__button-link">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                        asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-dark">Salir</button>
                    </form>
                </div>
            </div>
        }
        else
        {

            <div class="col-6">
                <div class="nav__button-link">
                    <a class="nav__button-ghost" asp-area="Identity" asp-page="/Account/Register">Registrar</a>
                </div>
            </div>

            <div class="col-6">
                <div class="nav__button-link">
                    <a class="nav__button-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {  
       <script>      
        let dropDown = document.querySelector('.dropdown');
        dropDown.onclick = function(){
             console.log("Dropdown clicked"); 
            dropDown.classList.toggle('active')
        }
    </script>

    
}