@model Patitas_Felices.Models.VOLUNTARIO

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}


<form asp-action="Index" method="post">
    <div class="form-group">
        <label asp-for="FechaYHora">Fecha y Hora de Disponibilidad:</label>
        <input asp-for="FechaYHora" class="form-control" type="datetime-local" required />
        <span asp-validation-for="FechaYHora" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Registrarse como Voluntario</button>
</form>