@model Patitas_Felices.Models.MASCOTAS
@{
     ViewData["Title"] = "Adopcion";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Adopcion.css">     
}

<section class="form_wrap">

        <section class="cantact_info">
            <section class="info_title">
                <span class="fa fa-user-circle"></span>
                <h2>PARA<br>CONTACTO</h2>
            </section>
            <section class="info_items">
                <p><span class="fa fa-envelope"></span> PatitasFelices_refugio@gmail.com</p>
                <p><span class="fa fa-mobile"></span> +51 944 667 328</p>
            </section>
        </section>

        <form action="/ruta_a_tu_servidor" method="post" class="form_contact">
            <div>
            <label for="campo1">Antecedentes Penales:</label><br>
            <input type="file" id="archivo1" name="archivo1"><br>

            <label for="campo2">Foto de DNI:</label><br>
            <input type="file" id="archivo2" name="archivo2"><br>

            <label for="campo3">Recibo de Luz:</label><br>
            <input type="file" id="archivo3" name="archivo3"><br>

            <label for="campo4">Recibo de Agua:</label><br>
            <input type="file" id="archivo4" name="archivo4"><br>

            <label for="campo5">Miembros de la Familia:</label><br>
            <input type="text" id="campo5" name="campo5"><br>

            <label for="campo6">Cantidad de niños:</label><br>
            <input type="text" id="campo6" name="campo6"><br>   
            </div>
        </form>

         <form action="/ruta_a_tu_servidor" method="post" class="form_contact">
            <div>
            <label for="campo1">Domicilio:</label><br>
            <input type="text" id="campo1" name="campo1"><br>

            <label for="campo2">Descripción de domicilio:</label><br>
            <input type="text" id="campo2" name="campo2"><br>

            <label for="campo3">Porque desea adoptar:</label><br>
            <input type="text" id="campo3" name="campo3"><br>
            </div>
            <input type="submit" value="Enviar">

        </form>

    </section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/solicitarAdo.js"></script>
    
}
