@model Patitas_Felices.Models.ADOPCION
@{
     ViewData["Title"] = "Adopcion";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Adopcion.css">     
}

<div class="grid">
    <div class="foto">
        @* <img src="/img/pg.jpg"> *@
     <label style="font-size: 80px;">No compres,</label><br>
     <strong><label style="font-size: 95px;">Adopta.</label></strong>        
    </div>

    <div class="form-adop">
       
         <form asp-action="Adopcion" method="post" enctype="multipart/form-data" class="formulario row" >

            
                <div class="form-group col-md-6" style="margin-bottom: 10px;">
                    <label asp-for="AntPenles" class="control-label">Antecendentes penales</label><br>
                    <input asp-for="AntPenles" type="file" class="form-control-file" /><br>
                    <span asp-validation-for="AntPenles" class="text-danger"></span>
                </div><br>
                <div class="form-group col-md-6">
                    <label asp-for="ImagenDNI" class="control-label">Foto de DNI</label><br>
                    <input asp-for="ImagenDNI" type="file" class="form-control-file" /><br>
                    <span asp-validation-for="ImagenDNI" class="text-danger"></span>
                </div><br>
                <div class="form-group col-md-6">
                    <label asp-for="fileLuz" class="control-label" style="margin-bottom: 10px;">Recibo de Luz</label><br>
                    <input asp-for="fileLuz" type="file" class="form-control-file" />
                    <span asp-validation-for="fileLuz" class="text-danger"></span>
                </div><br>
                 <div class="form-group col-md-6">
                    <label asp-for="fileAgua" class="control-label">Recibo de Agua</label><br>
                    <input asp-for="fileAgua" type="file" class="form-control-file" />
                    <span asp-validation-for="fileAgua" class="text-danger"></span>
                </div><br>
                <div class="form-group col-md-6">
                    <label asp-for="Q_familiares" class="control-label">Miembros de la Familia:</label>
                    <input asp-for="Q_familiares"  class="form-control" />
                    <span asp-validation-for="Q_familiares" class="text-danger"></span>
                </div><br>
                <div class="form-group col-md-6">
                    <label asp-for="Q_niños" class="control-label">Cantidad de niños:</label>
                    <input asp-for="Q_niños"  class="form-control" />
                    <span asp-validation-for="Q_niños" class="text-danger"></span>
                </div><br>
                <div class="form-group">
                    <label asp-for="Domicilio" class="control-label">Domicilio:</label>
                    <input asp-for="Domicilio"  class="form-control" />
                    <span asp-validation-for="Domicilio" class="text-danger"></span>
                </div><br>
                <div class="form-group">
                    <label asp-for="Desc_Domicilio" class="control-label">Descripción de Domicilio:</label>
                    <input asp-for="Desc_Domicilio"  class="form-control" />
                    <span asp-validation-for="Desc_Domicilio" class="text-danger"></span>
                </div><br>
                <div class="form-group">
                    <label asp-for="Razon" class="control-label">Porque desea adoptar</label>
                    <input asp-for="Razon"  class="form-control" />
                    <span asp-validation-for="Razon" class="text-danger"></span>
                </div>

      

              <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary my-3" />
                    </div>

        </form>

    </section>

    <div id="modal" class="modal-container">
        <div class="modal-content">
           <img src="/img/check.png" alt="" class="half-out">
            <h2>Se ha enviado la solicitud Exitosamente</h2>
            <p> Gracias por adoptar y no comprar </p>
            <p> espero que nadie lea esto xdd </p>
            <div id="close" class="close">
                <p>Cerrar</p>
            </div>
id="openModal"

        </div>
    </div>

        @section Scripts {
            <script src="~/js/modal.js"></script>
            <partial name="_ValidationScriptsPartial" />
            <script src="~/js/solicitarAdo.js"></script>
            
        }
    </div>
</div>