@model Patitas_Felices.Models.VISITAS

@{
     ViewData["Title"] = "VISITAS";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-warning">
        @TempData["Message"]
    </div>
}
@section Styles {
    <link rel="stylesheet" href="~/css/Visita.css">     
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
}
<section class="titulo">
    <div class="sub1">
        <div>
            <h2>AYUDANOS  A  AYUDAR</h2>
            <img src="/img/dog_albergue.png" class="perritos">
        </div>
    </div>
    <div class="subtitulo">
        <div><span style="padding-left: 150px;"><strong><b>PROGRAMA TU VISITA</b></strong></span></div>
    </div>
</section>
<section>
    <div class="container row cuerpo">
        <div class="fondo col-md-4">
            <img src="data:image/png;base64,@Convert.ToBase64String(Model.MASCOTAS.Imagen)" alt="Imagen de la mascota" />
        </div>
        <div class="formulario col-md-8">
            <label>Nombre de la mascota:  @Model.MASCOTAS.nombre</label>
            <br><br> 
            <form  asp-action="Visita" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="FechaYHora" class="control-label">Fecha y Hora</label>
                    <input asp-for="FechaYHora" type="datetime-local" class="form-control" id="fechaHora" />
                    <span asp-validation-for="FechaYHora" class="text-danger"></span>
                    <span id="horaInvalida" class="text-danger" style="display:none;">No puede elegir esta hora.</span>
                </div>
                 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1379.416885985736!2d-76.94271614862355!3d-12.072383254128985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c7112063f383%3A0x62f9e66ce7494a9!2sFIA%20-%20DATA!5e0!3m2!1ses!2spe!4v1698371856983!5m2!1ses!2spe" width="600" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Acepto recibir el historial clinico de la mascota a mi correo personal 
                    </label>
                 </div>
                <div class="form-group">
                <button id="botonEnviar" class="btn btn-primary my-3">Enviar</button> 
                </div> 
            
            </form><br><br>
           
        </div>
    </div>

</section>



@section Scripts {
<script>
    var fechaHoraInput = document.getElementById("fechaHora");
    var horaInvalida = document.getElementById("horaInvalida");

   
    fechaHoraInput.min = "YYYY-MM-DDT07:00";


    fechaHoraInput.max = "YYYY-MM-DDT19:59";

    // Obtén la fecha actual en la zona horaria del cliente
    var fechaHoraActual = new Date();

    // Convierte la fecha y hora actual a una cadena en formato ISO 8601
    var fechaHoraActualISO = fechaHoraActual.toISOString().slice(0, 16);


    fechaHoraInput.value = fechaHoraActualISO;


    fechaHoraInput.addEventListener('input', function() {
        var seleccionada = new Date(this.value);
        var hora = seleccionada.getHours();

        // Verifica si la hora seleccionada está fuera del rango permitido
        if (hora >= 20 || (hora >= 0 && hora < 7)) {
            horaInvalida.style.display = 'block';
        } else {
            horaInvalida.style.display = 'none';
        }
    });
</script>


    
}