@{
    ViewData["Title"] = "Home Page";
}
@section Styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" >    
    <link rel="stylesheet" href="~/css/home.css">
}
<body>
<section >
<div class="text-center">
   
</div>
</section>
</body>