@{
    ViewData["Title"] = "Home Page";
}
@section Styles {
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" >    
    <link rel="stylesheet" href="~/css/home.css">
}

<section class="home">
    <div class="home__container container">

        <div class="home__data">
            <h2 class="home__subtitle">Patitas Felices</h2>

            <h1 class="home__title">
                Mascotas <br>
                Productos <br>
                Cuidados <br>
            </h1>
            <p class="home__description">
                "Patitas Felices: Un refugio de amor para perritos y gatitos. 
                Buscamos hogares cariñosos, voluntarios apasionados y donaciones generosas. 
                Únete a nosotros para hacer patitas felices juntos."
            </p>
           <a class="home__button" asp-area="" asp-controller="Voluntario" asp-action="Index">Unirse</a>
        </div>

        <div class="home__images">
            <div class="home__circle"></div>
            <div class="home__swiper swiper">
                <div class="swiper-wrapper">
                    <article class="home_article swiper-slide">
                        <img src="/img/inic1.png" alt="image" class="home__mascotas">
                    </article>

                    <article class="home_article swiper-slide">
                        <img src="/img/inic2.png" alt="image" class="home__mascotas">
                    </article>

                    <article class="home_article swiper-slide">
                        <img src="/img/inic3.png" alt="image" class="home__mascotas">
                    </article>
                </div>
            </div>

            <div class="swiper-pagination"></div>
        </div>

        <div class="home__social">
            
            <a href="" target="_blank" class="home__social-link">
                <i class="ri-facebook-circle-fill"></i>
            </a>

            <a href="" target="_blank" class="home__social-link">
                <i class="ri-instagram-fill"></i>
            </a>

            <a href="" target="_blank" class="home__social-link">
                <i class="ri-tiktok-fill"></i>
            </a>
            
        </div>   
    </div>
</section>

<section class="main">
        <!--inicio conocenos-->
		<section class="metas">
			<div class="container">
				<div class="col-md-12" style="padding-top: 20px;">
					<p class="texto">
						En Patitas Felices, nuestro compromiso es inquebrantable. Cada día, dedicamos nuestras energías y corazones a proporcionar un refugio seguro y amoroso para los animales que necesitan una mano amiga. Cada ladrido y ronroneo es una melodía de esperanza en nuestras instalaciones, y cada cola que mueve expresando alegría es la recompensa más grande que podemos recibir. Creemos que cada patita merece una vida llena de amor y cuidado, y trabajamos incansablemente para hacer que eso suceda. Únete a nosotros en esta hermosa aventura de salvar vidas y darles a nuestras queridas mascotas la felicidad que tanto anhelan y merecen
					</p>
				</div>
			</div><br><br><br>

		<section class="mv">
			<div class="container row">
				<div class="col-md-6">
                    <b><label class="titmv">MISION</label></b>
                    <hr style="width: 300px; color: rgb(0, 173,239); height: 2px; padding-left: 200px;"><br>
                    <p>
                        En Patitas Felices, nos dedicamos apasionadamente a rescatar, rehabilitar y buscar hogares amorosos para los animales en situaciones de abandono y maltrato. Nuestro compromiso es proporcionar atención médica de calidad, amor y cuidado a cada ser que llega a nuestro refugio, otorgándoles una segunda oportunidad. Además, educamos a la comunidad sobre la adopción responsable y el bienestar animal, forjando un mundo donde todas las patitas vivan con dignidad y alegría.
                    </p>
                </div>
                <div class="col-md-6">
                    <b><label class="titmv">VISION</label></b>
                    <hr style="width: 300px; color: rgb(0, 173,239); height: 2px; padding-left: 200px;"><br>
                    <p>
                        Visualizamos a Patitas Felices como un referente líder en el cuidado y protección animal, no solo en nuestra comunidad, sino en un ámbito más amplio. Anhelamos un mundo en el que ningún ser sufra abandono o maltrato, donde cada patita encuentre un hogar rebosante de amor y comprensión. Aspiramos a ser un modelo en la rehabilitación y adopción de animales, junto con nuestra misión educativa para fomentar una convivencia armoniosa entre humanos y mascotas.
                    </p>
                </div>
			</div>
		</section><br><br><br>
		
		
			<!--inicio noticias-->
			<b><label id="not">NOTICIAS RELACIONADAS</label></b>
			<hr style="width: 1300px; color: rgb(0, 173,239); height: 2px; padding-left: 200px;"><br>
			
			<div class="container row noticias">
				<div class="col-md-4">
					<a href="https://elcomercio.pe/hogar-familia/familia/como-beneficia-una-mascota-al-desarrollo-de-un-nino-psicologa-lo-explica-noticia/"><img src="img/not1.png"></a><br><br>
					<p class="tit">¿Cómo beneficia una mascota al desarrollo de un niño? Psicóloga lo explica</p>
					<p style="font-size: 12px;">19 de mayo de 2023</p>
					<p>Las mascotas pueden brindar un gran sentimiento de propósito en las personas, reveló un estudio publicado por la Universidad de Harvard., [...]</p>
				</div>
				<div class="col-md-4">
					<a href="https://elcomercio.pe/tvmas/famosos/maria-conchita-alonso-subastara-objetos-de-su-coleccion-vintage-para-promover-la-adopcion-de-mascotas-celebs-noticia/"><img src="img/not2.png"></a><br><br>
					<p class="tit">María Conchita subastará objetos de su colecciónpara promover la adopción de mascotas</p>
					<p style="font-size: 12px;">03 de mayo de 2023</p>
					<p>A través de la fundación Vee Fauna, creada por la artista en 2015, el evento “¿Quién da más?” pretende recaudar fondos para “seguir llevando alimentos y atención médica  [...]</p>
				</div>
				<div class="col-md-4">
				<a href="https://www.gob.pe/institucion/minsa/noticias/14822-minsa-adoptar-un-animal-mejora-la-salud-mental-de-las-personas"><img src="img/not3.png"></a><br><br>
				<p class="tit">Minsa: Adoptar un animal mejora la salud mental de las personas</p>
					<p style="font-size: 12px;">18 de setiembre de 2016</p>
					<p>La convivencia responsable con animales adoptados por una familia, además de contribuir con una buena salud mental, convierte a perros y gatos adoptados en buenos acompañantes para realizar actividades físicas. Con ello, se promueve un ambiente favorable para el desarrollo [...]</p>
				</div>
			</div><br>
			
			
			<!--inicio videos-->
			<b><label id="not">VIDEOS RELACIONADOS</label></b>
			<hr style="width: 1300px; color: rgb(0, 173,239); height: 2px; padding-left: 200px;"><br>
			
			<div class="container row videos">
				<div class="col-md-4">
					<iframe height="200px" src="https://www.youtube.com/embed/X7N_Ow8RP18?si=JiKV4KUDAd-K-1mg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br>
					<b><a href="#" class="titv">Adopté a Todos los Perros de Este Refugio</a></b>
					
				</div>
				<div class="col-md-4">
					<iframe height="200px" src="https://www.youtube.com/embed/6M9xytZ4HYU?si=4684vYLmqvpO0cXb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br>
					<b><a href="#" class="titv">Perro devuelto 2 días después de ser adoptado</a></b>
					
				</div>
				<div class="col-md-4">
					<iframe height="200px" src="https://www.youtube.com/embed/IPBB2iyVq7w?si=tkQCwyu03bMxluMb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br>
					<b><a href="#" class="titv">Los mejores momentos de adopción que hayas visto</a></b>
				
				</div>
			</div><br>
			<br><br>
		</section>
	</section>

<style>
    .home{
        padding-bottom: 10rem;
    }
    .cuerpo{
        
        background-color: white;
        width: 100%;
        margin: 0%;
    }
     
    .texto{
        padding-right: 15px;
        text-align: justify
    }
    .titmv{
        text-align: center;
        font-size: 25px;
    }
    .mv p{
        text-align: justify;
        width: 90%;
        color: #1C1C1C;
    }
    #not{
	font-size: 25px;
	padding-left: 50px;
    }
	.noticias a img{
		height: 200px;
		padding-left: 20px;
	}
	.noticias p{
		text-align: justify;
		padding-left: 20px;
		padding-right:20px;
		font-size: 14px;
		color:#1C1C1C;
	}
	.noticias .tit{
		text-decoration: none;
		color:#1C1C1C;
		font-size: 17px;
		padding-left: 25px;
		padding-right: 20px;
		text-align: justify;
	}
	.titv{
		text-decoration: none;
		color:#1C1C1C;
	}

	.load-more-post{
		color:white;
		background-color: rgb(77, 77, 77);
		width: 800px;
		height: 50px;
	}
	
</style>


@section Scripts {  
    <script src="~/js/swiper-bundle.min.js"></script>
    <script src="~/js/inicio.js"></script>

}
