@model Patitas_Felices.Models.H_MEDICO

@{
    ViewData["Title"] = "Actualizar";
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">Mascota</label>
                        <input asp-for="MASCOTAS.nombre" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tipo de Sangre</label>
                        <input asp-for="Tip_Sangre " class="form-control" />
                        <span asp-validation-for="Tip_Sangre " class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Fecha de Registro</label>
                        <input asp-for="Fecha_reg" class="form-control" />
                        <span asp-validation-for="Fecha_reg" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImagenUp" class="control-label">Adjuntar Imagenes</label>
                        <input asp-for="ImagenUp" type="file" class="form-control-file" />
                        <span asp-validation-for="ImagenUp" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="fileMedicinas" class="control-label">Documentos Medicos</label>
                        <input asp-for="fileMedicinas" type="file" class="form-control-file" />
                        <span asp-validation-for="fileMedicinas" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="fileTratamientos " class="control-label">Documentos de Tratamiento</label>
                        <input asp-for="fileTratamientos " type="file" class="form-control-file" />
                        <span asp-validation-for="fileTratamientos " class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Observaciones</label>
                        <input asp-for="observaciones" class="form-control" />
                        <span asp-validation-for="observaciones" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <input type="submit" value="Actualizar" class="btn btn-primary my-3" />
                    </div>
                    
                </form>
            </div>
    </div>
</div>