@model IEnumerable<Patitas_Felices.Models.TAREA>

@{
    ViewData["Title"] = "Gestion de mascotas";
}    
@section Styles {
    <link rel="stylesheet" href="~/css/tareas.css">   
}

<div class="sub1">
    <div>
        <b><h2>AYUDANOS  A  AYUDAR</h2></b>
        <img src="/img/dog_albergue.png" class="perritos">
    </div>
</div>
<div class="subtitulo">
    <div><span><strong style="padding-left: 148px;"><b>AGREGAR TAREAS</b></strong></span></div>
    <div>
        <p style="padding-top: 40px; font-size: 20px;">
            <strong>Con tu amor y cuidado, cada pequeño gesto marca una gran diferencia en las vidas que tocamos. </strong>
        </p>
        <label> ¡Gracias por ser la voz y el apoyo de aquellos que no pueden hablar por sí mismos!</label>
    </div>
</div>
<br><br>

<div class="container" style="text-align: center;">  
    <p style="text-align: right">
        <a class="btn btn-light" asp-area="" asp-controller="Tarea" asp-action="Create">Agregar  <i class="fa fa-plus" aria-hidden="true"></i></a>
    </p>
    <table class="table">
        <thead>
            <tr>              
                <th>ID</th>
                <th>Tareas</th>
                <th>Fecha</th>
                <th>Elegir</th>
            </tr>
        </thead>
        <tbody>
           @if (Model != null)
            {
                @foreach (var item in Model) 
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.fechayhora)</td>
                        <td> 
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
