@model List<Patitas_Felices.Models.TAREA>

@{
    ViewData["Title"] = "Gestion de mascotas";
}    
@section Styles {
    <link rel="stylesheet" href="~/css/tareas.css">   
}

<div class="sub1">
    <div>
        <b><h2>AYUDANOS  A  AYUDAR</h2></b>
        <img src="/img/dog_albergue.png" class="perritos">
    </div>
</div>
<div class="subtitulo">
    <div><span><strong style="padding-left: 148px;"><b>AGREGAR TAREAS</b></strong></span></div>
    <div>
        <p style="padding-top: 40px; font-size: 20px;">
            <strong>Con tu amor y cuidado, cada pequeño gesto marca una gran diferencia en las vidas que tocamos. </strong>
        </p>
        <label> ¡Gracias por ser la voz y el apoyo de aquellos que no pueden hablar por sí mismos!</label>
    </div>
</div>
<br><br>


<form method="post">
    <input type="hidden" name="idVoluntario" value="@ViewBag.Voluntario.id" />

    <h3>Tareas Disponibles:</h3>
    <ul>
        @foreach (var tarea in Model)
        {
            <li>
                <label>
                    <input type="checkbox" name="tareasSeleccionadas" value="@tarea.Id" />
                    @tarea.Descripcion
                </label>
            </li>
        }
    </ul>

    <button type="submit">Guardar Tareas</button>
</form>
</div>
