@page
@model LoginModel

@* @{
    ViewData["Title"] = "Login";
} *@

@section Styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" >    
    <link rel="stylesheet" href="~/css/styles.css"asp-append-version="true" />
}

<h1>@ViewData["Title"]</h1>

<div class="login">
    <img src="~/img/F_login.png" alt="login image" class="login__img">
</div>
<div class="logf">      
    <form id="account" method="post" class="logf__form">    
        <h1 class="logf__tittle">Iniciar Sesión</h1>
   
        <div class="logf__content">
            <div class="logf__box">
                <i class="ri-user-3-line logf__icon"></i>                                  
                <div class="logf__box-input">
                    <input asp-for="Input.Email" type="email" required class="logf__input" placeholder=" ">
                    <label asp-for="Input.Email"  class="logf__label">correo electrónico</label>
                    @* <span asp-validation-for="Input.Email" class="text-danger"></span> *@
                </div>
            </div>
            <div class="logf__box">
                <i class="ri-lock-line logf__icon"></i>
                <div class="logf__box-input">
                    <input asp-for="Input.Password" type="password" required class="logf__input" id="logf-pass" placeholder=" ">
                    <label asp-for="Input.Password" for="" class="logf__label">Contraseña</label>
                    <i class="ri-eye-off-line logf__eye" id="logf-eye"></i> 
                    @* <span asp-validation-for="Input.Password" class="text-danger"></span> *@
                </div>
            </div>                
            <div class="logf__check">
                <div class="logf__check-group">
                    <label asp-for="Input.RememberMe" class="logf__check-label">
                    <input class="logf__check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>                        
                </div>
                <a id="forgot-password" asp-page="./ForgotPassword" class="logf__forgot">Olvidaste tu Contraseña?</a>
            </div>
            <button class="logf__button">Login</button>
            <p class="logf__register">no tiene una cuenta <a a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrate</a></p>  
        </div>
    </form>       
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/main.js"></script>
    
}
