@page
@model RegisterModel    
@{
    ViewData["Title"] = "Register";
}

@section Styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" >    
    <link rel="stylesheet" href="~/css/Registrar.css"asp-append-version="true" />
}




<div class="login">
    <img src="~/img/Regis.jpg" alt="login image" class="login__img">
</div>

<div class="logf">      
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="logf__form">    
        <h1 class="logf__tittle">Registrar</h1>

        <div class="logf__content">
            <div class="logf__box">
                <i class="ri-user-3-line logf__icon"></i>                                  
                <div class="logf__box-input">
                    <input asp-for="Input.Email" type="email" autocomplete="username"  required class="logf__input" placeholder=" ">
                    <label asp-for="Input.Email"  class="logf__label">correo electrónico</label>
                    @* <span asp-validation-for="Input.Email" class="text-danger"></span> *@
                </div>
            </div>
            <div class="logf__box">
                <i class="ri-lock-line logf__icon"></i>
                <div class="logf__box-input">
                    <input asp-for="Input.Password" type="password" autocomplete="new-password" required class="logf__input" id="logf-pass" placeholder=" ">
                    <label asp-for="Input.Password" for="" class="logf__label">Contraseña</label>
                    <i class="ri-eye-off-line logf__eye" id="logf-eye"></i> 
                    @* <span asp-validation-for="Input.Password" class="text-danger"></span> *@
                </div>
            </div> 
               <div class="logf__box">
                <i class="ri-lock-line logf__icon"></i>
                <div class="logf__box-input">
                    <input asp-for="Input.ConfirmPassword" type="password" autocomplete="new-password" required class="logf__input" id="logf-pass" placeholder=" ">
                    <label asp-for="Input.ConfirmPassword" for="" class="logf__label">Confirmar Contraseña</label>
                    <i class="ri-eye-off-line logf__eye" id="logf-eye"></i> 
                    @* <span asp-validation-for="Input.Password" class="text-danger"></span> *@
                </div>
            </div> 
             <button class="logf__button">Registrar</button>       
        </div>
    </form>       
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/main.js"></script>
    
}