:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(195, 100%, 30%);
    --gradient-color: linear-gradient(90deg,
                      hsl(210, 55%, 20%),
                      hsl(192, 62%, 25%));
    --title-color: hsl(210, 52%, 20%);
    --text-color: hsl(210, 24%, 15%);
    --white-color: #fff;
    --body-color: hsl(210, 55%, 85%);
  

  
  }

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--body-color);
    color: var(--text-color);
  }
  