@model Patitas_Felices.Models.MASCOTAS
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    @section Styles {
    @* <link href="~/css/createProd.css" rel="stylesheet" />
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet" /> *@
}


@{
    ViewData["Title"] = "Actualizar";
}

<div class="container" style="margin-left: 200px;">

        <h1>Actualizar mascota</h1>
         <hr />
        <div class="row">
            <div class="col-md-6">
             <form asp-action="Edit" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">Nombre</label>
                        <input asp-for="nombre" class="form-control" />
                        <span asp-validation-for="nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Raza</label>
                        <input asp-for="raza" class="form-control" />
                        <span asp-validation-for="raza" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Genero</label>
                        <input asp-for="genero" class="form-control" />
                        <span asp-validation-for="genero" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Edad</label>
                        <input asp-for="edad" class="form-control" />
                        <span asp-validation-for="edad" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tamaño</label>
                        <input asp-for="tamaño" class="form-control" />
                        <span asp-validation-for="tamaño" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Caracter</label>
                        <input asp-for="caracter" class="form-control" />
                        <span asp-validation-for="caracter" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tipo</label>
                        <input asp-for="tipo" class="form-control" />
                        <span asp-validation-for="tipo" class="text-danger"></span>
                    </div>
                       <div class="form-group">
                        <label class="control-label">Descripcion</label>
                        <input asp-for="Descripcion" class="form-control" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Imagen actual</label>
                        <img src="data:image/png;base64, @Convert.ToBase64String(Model.Imagen)" alt="Imagen de la mascota" />
                    </div>

                    <div class="form-group">
                        <label asp-for="ImagenUpload" class="control-label"></label>
                        <input asp-for="ImagenUpload" type="file" class="form-control-file" id="imagenInput" />
                        <span asp-validation-for="ImagenUpload" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <img id="imagenPreview" src="#" alt="Vista previa de la imagen" style="display: none; max-width: 100px; max-height: 100px;" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Estado</label>
                        <input asp-for="Status" class="form-control" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary my-3" />
                    </div>
                    
                </form>
            </div>
            <div class="col-md-6">
                <img src="/img/registro.png" alt="">
            </div>
        </div>

        <div>
            <a class="btn btn-ligth" asp-action="Index"> 	&laquo;Volver</a>
        </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    document.getElementById('imagenInput').addEventListener('change', function () {
        var fileInput = this;
        var imagePreview = document.getElementById('imagenPreview');
        
        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block';
            };

            reader.readAsDataURL(fileInput.files[0]);
        } else {
            imagePreview.style.display = 'none';
        }
    });
</script>

}
