@model List<Patitas_Felices.Models.MASCOTAS>
@section Styles {
    <link rel="stylesheet" href="~/css/tareas.css">   
}
<div class="sub1">
    <div>
        <b><h2>AYUDANOS  A  AYUDAR</h2></b>
        <img src="/img/dog_albergue.png" class="perritos">
    </div>
</div>
<div class="subtitulo">
    <div><span class="" ><strong style="padding-left: 148px;"><b>MASCOTAS APADRINADAS</b></strong></span></div>
    <div>
        <p style="padding-top: 40px; font-size: 20px;">
            <strong>Con su valiosa contribución, están creando un refugio seguro y cálido para aquellos que más lo necesitan. </strong>
        </p>
        <label> ¡Gracias por ser la voz y el apoyo de aquellos que no pueden hablar por sí mismos!</label>
    </div>
</div>
<br><br>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Especie</th>
            <th>Raza</th>
            <th>Edad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mascota in Model)
        {
            <tr>
                <td>@mascota.nombre</td>
                <td>@mascota.tipo</td>
                <td>@mascota.raza</td>
                <td>@mascota.edad</td>
            </tr>
        }
    </tbody>
</table><br>